body {
	margin: 20;
	font: 14px verdana,arial;
	text-align:center;
}
table{
	padding:5px;
	border-collapse:collapse;
	border:1px solid black;
	text-align:left;
}
td{
	border:1px solid black;
	font: 14px verdana,arial;
	padding:5px;
}
th{
	font: 16px verdana,arial;
	border:1px solid black;
	padding:5px;
	text-align:center;
}
h3{
	font: 16px verdana,arial;
}
.errorMessage{
	color:red;
	font: 10px verdana,arial;
}
.requiredField{
	  color:red;
}