<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
             http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd"
            default-autowire="byName">


<import resource="db.xml" />
 
<context:component-scan base-package="main.java.com.vinuta">
	<context:include-filter type="aspectj"
		expression="main.java.com.vinuta..*ServiceImpl"/>
	<context:include-filter type="aspectj"
		expression="main.java.com.vinuta..*DAOImpl"/>
	<context:include-filter type="aspectj"
		expression="main.java.com.vinuta..*HibernateDAO"/>
	<context:include-filter type="aspectj"
		expression="main.java.com.vinuta..*Action"/>
</context:component-scan>

</beans>
